---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Neclo">
	<!-- Header -->
	<h1 class="text-6xl font-bold text-center text-white mt-10 mb-20">
        <a href="#" class="font-display max-w-sm leading-tight">
			<span class="link link-underline link-underline-black text-white">Neclo</span>
		</a>
    </h1>
	
	<!-- About me -->
	<p>
	   Hi! I'm Josiah, a 14 y/o developer using bleeding edge technologies to build applications.
	   I believe that written code is a form of art, and I strive to create beautiful, functional, and efficient software.
	   Join me on my journey to to envision and create the products that will power tomorrow!
	</p><br>

	<!-- Skills -->
	<p>
	   My focus is in ML/AI,  utilizing frameworks such as Scikit-Learn and PyTorch as well as libraries such as NumPy, seaborn, and Pandas. 
	   I also have experience in web development using HTML/CSS/JS as well as TailwindCSS and Bootstrap to create aesthetically pleasing websites.
	   Currently, I'm learning the Astro.js framework as well as learning how to containerize my applications using Docker.
	</p>
	<!-- Projects -->

	<!-- Contact Me -->
	<p>

	</p>
</Layout>

`