<p class="">
    Hi! I'm Josiah, a 14 y/o developer using bleeding edge technologies to build applications.
    I believe that written code is a form of art, and I strive to create beautiful, functional, and efficient software.
    Join me on my journey to to envision and create the products that will power tomorrow!
</p><br>