<div class="flex justify-between">
    <div>
        <h1 class="font-bold text-start mt-10 mb-1 text-3xl">
            <a href="#" class="font-display max-w-sm leading-tight">
                <span class="text-[#b38ad7]">Josiah</span>
            </a>
        </h1>
        <p class="text-[#8087b0] text-start">
            <svg class="inline block" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#8087b0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
            14, Developer, & ML/AI<br><svg class="inline block" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#8087b0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/><circle cx="12" cy="10" r="3"/></svg> Maryland<br>
            <svg class="inline block" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#8087b0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
            <circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
            It is currently <span id="time"></span>
        </p>
    </div>

    <img class="relative top-12 w-20 h-20 rounded-full" src="../public/magichat.png" alt="Rounded avatar">
</div>