<h1 class="text-6xl font-bold text-center mt-10 mb-20 text-3xl">
    <a href="#" class="font-display max-w-sm leading-tight">
        <span class="link underline text-black">Neclo</span>
    </a>
</h1>