<h1 class="font-bold text-start mt-16 mb-1 text-2xl">
    <a href="#" class="font-display max-w-sm leading-tight">
        <span class="text-[#deaafc]">Projects</span>
    </a>
</h1>

<h2 class="font-bold text-start mt-2 mb-1 hover:underline decoration-[#8087b0]">
    <a href="https://github.com/Necl0/Portfolio" class="font-display max-w-sm leading-tight">
        <span class="text-[#b5aafc]">Portfolio</span>
    </a>
</h2>

<p class="text-[#cacde1] text-start">Portfolio written in Astro.js + TailwindCSS; Palenight color theme</p><br>

<h2 class="font-bold text-start mt-2 mb-1 hover:underline decoration-[#8087b0]">
    <a href="https://github.com/Necl0/Abacus" class="font-display max-w-sm leading-tight">
        <span class="text-[#b5aafc]">Abacus</span>
    </a>
</h2>

<p class="text-[#cacde1] text-start mb-10">MNIST classification w/ Scikit-Learn; deployed to Flask</p>