<h1 class="font-bold text-start mt-10 mb-1 text-2xl">
    <a href="#" class="font-display max-w-sm leading-tight">
        <span class="text-[#deaafc]">Skills</span>
    </a>
</h1>

<p>
    <ul class="text-[#cacde1]">
        <li><div class="inline-block text-[#b5aafc]"><b>Python</b></div> (Scikit-learn, PyTorch, Flask, NumPy, Pandas, seaborn)</li>
        <li><div class="inline-block text-[#b5aafc]"><b>JS</b></div> (Astro.js)</li>
        <li><div class="inline-block text-[#b5aafc]"><b>HTML/CSS</b></div> (TailwindCSS, Bootstrap)</li>
        <li><div class="inline-block text-[#b5aafc]"><b>CI/CD</b></div> (Git)</li>
    </ul>
</p>
