<p class="text">
    My focus is in ML/AI,  utilizing frameworks such as Scikit-Learn and PyTorch as well as libraries such as NumPy, seaborn, and Pandas. 
    I also have experience in web development using HTML/CSS/JS as well as TailwindCSS and Bootstrap to create aesthetically pleasing websites.
    Currently, I'm learning the Astro.js framework as well as learning how to containerize my applications using Docker.
</p>