---


export interface Props {
	title?: string;
}


const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/coder.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neclo</title>
	</head>
	<body class="bg-[#282e3e] w-2/5 mr-auto ml-auto mt-15 text-base">
        
        <slot />
	</body>
</html>


<style>
  	@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

	body {
		font-family: 'Karla', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    	'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', monospace;
	}
</style>

